<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geebeelicious.geebeelicious">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">

            <!--
            commented out for testing purposes only MAIN ACTIVITY SHOULD HAVE LAUNCHER
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />s
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".tests.visualacuity.VisualAcuityMainActivity"
            android:label="@string/title_activity_visual_acuity_main"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tests.colorvision.ColorVisionMainActivity"
            android:label="@string/title_activity_color_vision_main"
            android:screenOrientation="landscape" />



        <activity
            android:name=".tests.hearing.HearingMainActivity"
            android:label="@string/title_activity_hearing_main"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".tests.hearing.HearingCalibrationActivity"
            android:label="@string/title_activity_hearing_calibration"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".tests.finemotor.FineMotorsActivity"
            android:label="@string/title_activity_fine_motors"
            android:screenOrientation="landscape">

            <intent-filter> <!-- added intent-filter for testing only REMOVE AFTER -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
